.button {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    color: black;
    border-color: black ;
    border-block:  2px;
    text-emphasis-color: black;
}
.button:hover {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: grey;
}