.ttl1{
    color: #fff;
}
* {
    box-sizing: border-box;
}
.container{
    width: auto;
    margin: 20px ;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 300px;
    align-items: stretch;
   /*
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    
    flex-direction: row;
   margin: 0.5rem; 
    background-color: transparent;
    height: fit-content;*/
}
.box{
    text-align: center;
    background-color:transparent ;
    width: 200 px;
    border: 10px solid #000;
    border-radius: 4px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .5);;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
  /* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card-container {
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: white;
    height: 300px;
  }
  
  .card-img {
    width:min-content;
    border-radius: 1rem 1rem 1rem 1rem ;
  }
  
  .card-title {
    margin: 8px;
  }
  
  .card-description {
    margin: 0.5rem 5%;
  }
  
  .card-btn {
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
  }